@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Raleway:400,500,600,700,800");
a {
  text-decoration: none; }

button:hover {
  cursor: pointer; }

body {
  margin: 0;
  width: 100%; }

.container {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

header {
  background: url("../img/slide.png") no-repeat;
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 10fr 1fr; }
  header nav {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 4fr 8fr;
    align-items: center;
    padding: 0 10%; }
    header nav .logo a {
      float: left; }
    header nav .logo span {
      float: left;
      font-family: Raleway, sans-serif;
      color: #ffffff;
      font-size: 34px;
      font-weight: 400;
      line-height: 60px;
      margin-left: 10px; }
    header nav .menu {
      justify-self: end;
      padding: 0; }
      header nav .menu li {
        display: inline-block;
        margin: 0 10px; }
      header nav .menu li:nth-child(9) {
        margin-left: 40px; }
      header nav .menu a {
        display: block;
        color: #fff;
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        font-weight: 300;
        text-align: center; }
      header nav .menu a:hover {
        color: #c7b29a; }
      header nav .menu .icon-cart {
        background: url("../img/icon-cart.png") no-repeat;
        width: 18px;
        height: 24px; }
      header nav .menu .icon-search {
        background: url("../img/icon-search.png") no-repeat;
        width: 24px;
        height: 24px; }
  header .header-content {
    display: grid;
    font-family: Raleway, sans-serif;
    color: #ffffff;
    text-align: center;
    grid-auto-flow: column;
    align-items: center; }
    header .header-content .header-content-center h2 {
      font-size: 36px;
      font-weight: 500;
      margin: 0 0 10px; }
    header .header-content .header-content-center h1 {
      font-size: 52px;
      font-weight: 700;
      margin: 0 0 20px; }
    header .header-content .header-content-center span {
      font-family: Montserrat, sans-serif;
      font-size: 15px;
      font-weight: 300;
      line-height: 24px;
      width: 568px;
      height: 52px;
      display: block;
      margin: 0 auto; }
    header .header-content .header-content-center button {
      border-radius: 3px;
      background-color: #998675;
      color: #ffffff;
      width: 170px;
      height: 53px;
      font-size: 14px;
      font-weight: 700;
      line-height: 23px;
      margin: 30px 0 40px 0; }
  header .header-points {
    align-self: center;
    justify-self: center; }
    header .header-points .header-points-list {
      padding: 0; }
      header .header-points .header-points-list li {
        display: inline-block; }
      header .header-points .header-points-list .point-active {
        display: block;
        background: url("../img/point-active.png");
        width: 15px;
        height: 15px; }
      header .header-points .header-points-list .point-unactive {
        display: block;
        background: url("../img/point-unactive.png");
        width: 11px;
        height: 11px; }

main {
  width: 100%; }
  main .opportunities {
    height: 30vh;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr; }
    main .opportunities .opportunities-content {
      grid-column-start: 2;
      grid-column-end: 3;
      display: grid;
      grid-auto-flow: column;
      align-items: end;
      grid-template-columns: 1fr 1fr 1fr 1fr; }
      main .opportunities .opportunities-content div {
        display: inline-block;
        text-align: center;
        margin-bottom: 100px; }
        main .opportunities .opportunities-content div > div {
          display: block; }
        main .opportunities .opportunities-content div:hover h2 {
          color: #c7b299; }
        main .opportunities .opportunities-content div:hover .underlining {
          background-color: #c7b299; }
      main .opportunities .opportunities-content h2 {
        font-family: Raleway, sans-serif;
        color: #555555;
        font-size: 22px;
        font-weight: 600;
        text-align: center; }
      main .opportunities .opportunities-content p {
        font-family: Montserrat, sans-serif;
        color: #8c8c8c;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
        padding: 0 10px; }
      main .opportunities .opportunities-content .underlining {
        background-color: #f1eee9;
        width: 70px;
        height: 3px;
        margin: 25px auto 0; }
  main .real-ideas {
    height: 70vh;
    background: #fbfaf8;
    display: grid;
    grid-template-rows: 4fr 1fr; }
    main .real-ideas .real-ideas-main {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 2fr 8fr 2fr; }
    main .real-ideas .real-ideas-content {
      grid-column-start: 2;
      display: grid;
      grid-template-rows: 2fr 5fr; }
      main .real-ideas .real-ideas-content .real-ideas-block-text {
        align-self: center; }
        main .real-ideas .real-ideas-content .real-ideas-block-text h1 {
          font-family: Raleway, sans-serif;
          color: #555555;
          font-size: 30px;
          font-weight: 600;
          text-align: center; }
        main .real-ideas .real-ideas-content .real-ideas-block-text p {
          font-family: Montserrat, sans-serif;
          color: #8c8c8c;
          font-size: 16px;
          font-weight: 300;
          line-height: 28px;
          text-align: center;
          margin: 0 210px; }
      main .real-ideas .real-ideas-content .real-ideas-block-browser {
        position: relative; }
        main .real-ideas .real-ideas-content .real-ideas-block-browser img {
          position: absolute; }
        main .real-ideas .real-ideas-content .real-ideas-block-browser .browser-left {
          position: absolute;
          left: calc(30% - 385px);
          bottom: 0; }
        main .real-ideas .real-ideas-content .real-ideas-block-browser .browser-center {
          z-index: 10;
          left: calc(50% - 385px);
          bottom: 0; }
        main .real-ideas .real-ideas-content .real-ideas-block-browser .browser-right {
          right: calc(30% - 358px);
          bottom: 0; }
    main .real-ideas .real-ideas-bottom {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 2fr 8fr 2fr;
      background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
      background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
      background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
      background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
      background: linear-gradient(90deg, #211b19 0%, #4e3427 100%); }
      main .real-ideas .real-ideas-bottom .real-ideas-bottom-grid {
        grid-column-start: 2;
        position: relative; }
      main .real-ideas .real-ideas-bottom .real-ideas-bottom-text {
        float: left;
        position: relative;
        top: calc(50% - 60px); }
        main .real-ideas .real-ideas-bottom .real-ideas-bottom-text h1 {
          font-family: Raleway, sans-serif;
          color: #ffffff;
          font-size: 28px;
          font-weight: 400; }
          main .real-ideas .real-ideas-bottom .real-ideas-bottom-text h1 mark {
            color: #c7b299;
            background: none; }
        main .real-ideas .real-ideas-bottom .real-ideas-bottom-text p {
          font-family: Montserrat, sans-serif;
          color: #615855;
          font-size: 18px;
          font-weight: 300; }
      main .real-ideas .real-ideas-bottom .real-ideas-bottom-button {
        border-radius: 3px;
        background-color: #998675;
        width: 170px;
        height: 50px;
        font-family: Raleway, sans-serif;
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        float: right;
        position: relative;
        top: calc(50% - 25px); }

footer {
  width: 100%; }

/*# sourceMappingURL=style.css.map */
