@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Raleway:400,500,600,700,800|Roboto");
.transform-zoom:hover {
  transform: scale(1.1);
  z-index: 99; }

a {
  text-decoration: none; }

button:hover {
  cursor: pointer; }

body {
  margin: 0;
  width: 100%; }

.container {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

header {
  background: url("../img/slide.png") no-repeat;
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 10fr 1fr; }
  header nav {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 4fr 8fr;
    align-items: center;
    padding: 0 10%; }
    header nav .logo a {
      float: left; }
    header nav .logo span {
      float: left;
      font-family: Raleway, sans-serif;
      color: #ffffff;
      font-size: 34px;
      font-weight: 400;
      line-height: 60px;
      margin-left: 10px; }
    header nav .menu {
      justify-self: end;
      padding: 0; }
      header nav .menu li {
        display: inline-block;
        margin: 0 10px; }
      header nav .menu li:nth-child(9) {
        margin-left: 40px; }
      header nav .menu a {
        display: block;
        color: #fff;
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        font-weight: 300;
        text-align: center; }
      header nav .menu a:hover {
        color: #c7b29a; }
      header nav .menu .icon-cart {
        background: url("../img/icon-cart.png") no-repeat;
        width: 18px;
        height: 24px; }
      header nav .menu .icon-search {
        background: url("../img/icon-search.png") no-repeat;
        width: 24px;
        height: 24px; }
  header .header-content {
    display: grid;
    font-family: Raleway, sans-serif;
    color: #ffffff;
    text-align: center;
    grid-auto-flow: column;
    align-items: center; }
    header .header-content .header-content-center h2 {
      font-size: 36px;
      font-weight: 500;
      margin: 0 0 10px; }
    header .header-content .header-content-center h1 {
      font-size: 52px;
      font-weight: 700;
      margin: 0 0 20px; }
    header .header-content .header-content-center span {
      font-family: Montserrat, sans-serif;
      font-size: 15px;
      font-weight: 300;
      line-height: 24px;
      width: 568px;
      height: 52px;
      display: block;
      margin: 0 auto; }
    header .header-content .header-content-center button {
      border-radius: 3px;
      background-color: #998675;
      color: #ffffff;
      width: 170px;
      height: 53px;
      font-size: 14px;
      font-weight: 700;
      line-height: 23px;
      margin: 30px 0 40px 0; }
  header .header-points {
    align-self: center;
    justify-self: center; }
    header .header-points .header-points-list {
      padding: 0; }
      header .header-points .header-points-list li {
        display: inline-block; }
      header .header-points .header-points-list .point-active {
        display: block;
        background: url("../img/point-active.png");
        width: 15px;
        height: 15px; }
      header .header-points .header-points-list .point-unactive {
        display: block;
        background: url("../img/point-unactive.png");
        width: 11px;
        height: 11px; }

main {
  width: 100%; }
  main .opportunities {
    height: 373px;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    overflow: hidden; }
    main .opportunities .opportunities-content {
      grid-column-start: 2;
      grid-column-end: 3;
      display: grid;
      grid-auto-flow: column;
      align-items: end;
      grid-template-columns: 1fr 1fr 1fr 1fr; }
      main .opportunities .opportunities-content div {
        display: inline-block;
        text-align: center;
        margin-bottom: calc(50% - 70px); }
        main .opportunities .opportunities-content div svg {
          fill: #555555;
          transition: 500ms; }
        main .opportunities .opportunities-content div h2 {
          transition: 500ms; }
        main .opportunities .opportunities-content div > div {
          display: block; }
        main .opportunities .opportunities-content div .underlining {
          transition: 500ms; }
        main .opportunities .opportunities-content div:hover {
          cursor: default; }
          main .opportunities .opportunities-content div:hover svg {
            fill: #c7b299; }
          main .opportunities .opportunities-content div:hover h2 {
            color: #c7b299; }
          main .opportunities .opportunities-content div:hover .underlining {
            background-color: #c7b299; }
      main .opportunities .opportunities-content h2 {
        font-family: Raleway, sans-serif;
        color: #555555;
        font-size: 22px;
        font-weight: 600;
        text-align: center; }
      main .opportunities .opportunities-content p {
        font-family: Montserrat, sans-serif;
        color: #8c8c8c;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
        padding: 0 10px; }
      main .opportunities .opportunities-content .underlining {
        background-color: #f1eee9;
        width: 70px;
        height: 3px;
        margin: 25px auto 0; }
  main .real-ideas {
    height: 100vh;
    background: #fbfaf8;
    display: grid;
    grid-template-rows: 4fr 1fr;
    overflow: hidden; }
    main .real-ideas .real-ideas-main {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 2fr 8fr 2fr; }
    main .real-ideas .real-ideas-content {
      grid-column-start: 2;
      display: grid;
      grid-template-rows: 2fr 5fr; }
      main .real-ideas .real-ideas-content .real-ideas-block-text {
        align-self: center; }
        main .real-ideas .real-ideas-content .real-ideas-block-text h1 {
          font-family: Raleway, sans-serif;
          color: #555555;
          font-size: 30px;
          font-weight: 600;
          text-align: center; }
        main .real-ideas .real-ideas-content .real-ideas-block-text p {
          font-family: Montserrat, sans-serif;
          color: #8c8c8c;
          font-size: 16px;
          font-weight: 300;
          line-height: 28px;
          text-align: center;
          margin: 0 210px; }
      main .real-ideas .real-ideas-content .real-ideas-block-browser {
        position: relative; }
        main .real-ideas .real-ideas-content .real-ideas-block-browser img {
          position: absolute; }
        main .real-ideas .real-ideas-content .real-ideas-block-browser .browser-left {
          position: absolute;
          left: calc(30% - 385px);
          bottom: 0; }
        main .real-ideas .real-ideas-content .real-ideas-block-browser .browser-center {
          z-index: 10;
          left: calc(50% - 385px);
          bottom: 0; }
        main .real-ideas .real-ideas-content .real-ideas-block-browser .browser-right {
          right: calc(30% - 358px);
          bottom: 0; }
    main .real-ideas .real-ideas-bottom {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 2fr 8fr 2fr;
      background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
      background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
      background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
      background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
      background: linear-gradient(90deg, #211b19 0%, #4e3427 100%); }
      main .real-ideas .real-ideas-bottom .real-ideas-bottom-grid {
        grid-column-start: 2;
        position: relative; }
      main .real-ideas .real-ideas-bottom .real-ideas-bottom-text {
        float: left;
        position: relative;
        top: calc(50% - 60px); }
        main .real-ideas .real-ideas-bottom .real-ideas-bottom-text h1 {
          font-family: Raleway, sans-serif;
          color: #ffffff;
          font-size: 28px;
          font-weight: 400; }
          main .real-ideas .real-ideas-bottom .real-ideas-bottom-text h1 mark {
            color: #c7b299;
            background: none; }
        main .real-ideas .real-ideas-bottom .real-ideas-bottom-text p {
          font-family: Montserrat, sans-serif;
          color: #615855;
          font-size: 18px;
          font-weight: 300; }
      main .real-ideas .real-ideas-bottom .real-ideas-bottom-button {
        border-radius: 3px;
        background-color: #998675;
        width: 170px;
        height: 50px;
        font-family: Raleway, sans-serif;
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        float: right;
        position: relative;
        top: calc(50% - 25px); }
  main .last-products {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 2fr 8fr 2fr;
    overflow: hidden; }
    main .last-products .last-products-top {
      grid-column-start: 2;
      align-self: center; }
      main .last-products .last-products-top h1 {
        font-family: Raleway, sans-serif;
        color: #555555;
        font-size: 30px;
        font-weight: 600;
        text-align: center; }
      main .last-products .last-products-top p {
        font-family: Montserrat, sans-serif;
        color: #8c8c8c;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        text-align: center;
        width: 757px;
        margin: 0 auto; }
    main .last-products .last-products-main {
      grid-column-start: 2;
      display: grid;
      grid-template-rows: 2fr 14fr; }
      main .last-products .last-products-main .last-product-nav {
        align-self: center; }
        main .last-products .last-products-main .last-product-nav .browser-nav {
          margin: 0;
          padding: 0;
          text-align: center; }
          main .last-products .last-products-main .last-product-nav .browser-nav li {
            display: inline-block; }
            main .last-products .last-products-main .last-product-nav .browser-nav li:hover a {
              color: #ffffff;
              border-radius: 3px;
              background-color: #998675; }
          main .last-products .last-products-main .last-product-nav .browser-nav a {
            font-family: Montserrat, sans-serif;
            color: #8c8c8c;
            font-size: 14px;
            font-weight: 300;
            line-height: 21px;
            padding: 5px 25px;
            box-sizing: border-box;
            border: 1px solid #ebebeb;
            border-radius: 3px;
            display: block;
            background-color: rgba(17, 17, 17, 0); }
      main .last-products .last-products-main .last-product-grid {
        display: grid;
        grid-template-columns: 270px 270px 270px;
        grid-template-rows: 250px 250px;
        grid-gap: 30px;
        margin: 0 auto; }
        main .last-products .last-products-main .last-product-grid .grid-block {
          display: grid;
          grid-template-rows: 3fr 2fr;
          position: relative; }
          main .last-products .last-products-main .last-product-grid .grid-block img {
            width: 270px;
            height: auto;
            transition: 500ms; }
          main .last-products .last-products-main .last-product-grid .grid-block .grid-block-text {
            background-color: #fbfaf8;
            transition: 500ms; }
            main .last-products .last-products-main .last-product-grid .grid-block .grid-block-text h2 {
              font-family: Raleway, sans-serif;
              color: #c7b29a;
              font-size: 20px;
              font-weight: 500;
              margin: 8px 0 4px 8%; }
            main .last-products .last-products-main .last-product-grid .grid-block .grid-block-text p {
              font-family: Montserrat, sans-serif;
              color: #d1d1d1;
              font-size: 14px;
              font-weight: 300;
              line-height: 20px;
              margin-left: 8%;
              margin-top: 4px; }
          main .last-products .last-products-main .last-product-grid .grid-block .grid-block-hov {
            position: absolute;
            width: 270px;
            height: 172.94px;
            top: 0;
            left: 0; }
            main .last-products .last-products-main .last-product-grid .grid-block .grid-block-hov .hov-items {
              position: absolute;
              top: calc(50% - 10px);
              padding: 0;
              margin: 0;
              left: calc(50% - 42px);
              list-style-type: none;
              display: none; }
              main .last-products .last-products-main .last-product-grid .grid-block .grid-block-hov .hov-items a {
                color: #fff; }
                main .last-products .last-products-main .last-product-grid .grid-block .grid-block-hov .hov-items a i {
                  font-size: 20px; }
              main .last-products .last-products-main .last-product-grid .grid-block .grid-block-hov .hov-items li {
                display: inline-block;
                margin: 0 10px; }
          main .last-products .last-products-main .last-product-grid .grid-block:hover {
            cursor: default; }
            main .last-products .last-products-main .last-product-grid .grid-block:hover img {
              filter: brightness(50%); }
            main .last-products .last-products-main .last-product-grid .grid-block:hover .grid-block-text {
              background-color: #362f2d; }
              main .last-products .last-products-main .last-product-grid .grid-block:hover .grid-block-text h2 {
                color: #ffffff; }
              main .last-products .last-products-main .last-product-grid .grid-block:hover .grid-block-text p {
                color: #c7b299; }
            main .last-products .last-products-main .last-product-grid .grid-block:hover .hov-items {
              display: inline; }
              main .last-products .last-products-main .last-product-grid .grid-block:hover .hov-items a:hover {
                color: #c7b299; }
    main .last-products .last-products-bottom {
      grid-column-start: 2;
      align-self: center;
      justify-self: center; }
      main .last-products .last-products-bottom .last-products-button {
        border-radius: 3px;
        background-color: #998675;
        width: 170px;
        height: 50px;
        font-family: Raleway, sans-serif;
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        text-align: center; }
  main .video-pres {
    height: 705px;
    background: url("../img/video.jpg") no-repeat;
    margin-top: 50px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr; }
    main .video-pres .video-back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 705px;
      background: rgba(0, 0, 0, 0.5);
      z-index: -1; }
    main .video-pres .video-pres-content {
      grid-column-start: 2;
      align-self: center; }
      main .video-pres .video-pres-content .button-play {
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.2);
        width: 100px;
        height: 100px;
        margin: 0 auto;
        position: relative; }
        main .video-pres .video-pres-content .button-play svg {
          position: absolute;
          top: calc(50% - 35px);
          left: calc(50% - 35px);
          fill: #ffffff; }
        main .video-pres .video-pres-content .button-play:hover {
          cursor: pointer; }
          main .video-pres .video-pres-content .button-play:hover svg {
            filter: brightness(60%); }
      main .video-pres .video-pres-content .video-text h1 {
        font-family: Raleway, sans-serif;
        color: #ffffff;
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        margin: 40px 0 20px; }
      main .video-pres .video-pres-content .video-text h4 {
        font-family: Montserrat, sans-serif;
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        text-align: center;
        margin: 0 auto;
        width: 570px; }
      main .video-pres .video-pres-content .video-text p {
        font-family: Montserrat, sans-serif;
        color: #c7b299;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        margin-top: 30px; }
  main .mobile-dev {
    height: 695px;
    background-color: #fbfaf8;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr; }
    main .mobile-dev .mobile-dev-content {
      grid-column-start: 2;
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-column-gap: 20px; }
      main .mobile-dev .mobile-dev-content img {
        align-self: end; }
      main .mobile-dev .mobile-dev-content .mobile-dev-text {
        align-self: center; }
        main .mobile-dev .mobile-dev-content .mobile-dev-text h1 {
          font-family: Raleway, sans-serif;
          color: #555555;
          font-size: 30px;
          font-weight: 600;
          text-align: left; }
        main .mobile-dev .mobile-dev-content .mobile-dev-text p {
          font-family: Montserrat, sans-serif;
          color: #8c8c8c;
          font-size: 16px;
          font-weight: 300;
          line-height: 28px;
          text-align: left;
          width: 670px; }
        main .mobile-dev .mobile-dev-content .mobile-dev-text .mob-options {
          list-style: none;
          margin-top: 30px;
          padding-left: 52px; }
          main .mobile-dev .mobile-dev-content .mobile-dev-text .mob-options li {
            background: url(../img/icon-li.png) no-repeat left 5px;
            padding-left: 50px;
            font-family: Montserrat, sans-serif;
            color: #8c8c8c;
            font-size: 16px;
            font-weight: 300;
            line-height: 32px; }
  main .score {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    height: 300px; }
    main .score .score-content {
      grid-column-start: 2;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      align-items: center; }
      main .score .score-content div {
        text-align: center; }
      main .score .score-content svg {
        fill: #c7b299; }
      main .score .score-content h1 {
        font-family: Montserrat, sans-serif;
        color: #ffffff;
        font-size: 48px;
        font-weight: 200;
        line-height: 36px;
        text-align: center;
        margin: 30px 0 10px; }
      main .score .score-content p {
        font-family: Montserrat, sans-serif;
        color: #c7b299;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        text-align: center;
        margin: 10px 0 30px; }
      main .score .score-content .score-underline {
        background-color: #ffffff;
        width: 30px;
        height: 2px;
        margin: 0 auto; }
  main .recent-posts {
    height: 753px;
    background: #fff;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr; }
    main .recent-posts .recent-posts-content {
      grid-column-start: 2; }
      main .recent-posts .recent-posts-content .recent-posts-header h1 {
        font-family: Raleway, sans-serif;
        color: #555555;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        margin-top: 70px; }
      main .recent-posts .recent-posts-content .recent-posts-header p {
        font-family: Montserrat, sans-serif;
        color: #8c8c8c;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        width: 780px;
        margin: 0 auto 30px;
        text-align: center; }
      main .recent-posts .recent-posts-content .recent-posts-posts {
        display: grid;
        grid-template-columns: 370px 370px 370px;
        grid-template-rows: 400px;
        grid-column-gap: 50px; }
        main .recent-posts .recent-posts-content .recent-posts-posts .post {
          display: grid;
          grid-template-rows: 220px 180px;
          border: 1px solid #f8f8f8;
          position: relative; }
          main .recent-posts .recent-posts-content .recent-posts-posts .post .post-calendar {
            position: absolute;
            display: grid;
            grid-template-rows: 35px 25px;
            width: 50px;
            height: 60px;
            text-align: center;
            z-index: 10;
            left: 20px;
            top: 20px; }
            main .recent-posts .recent-posts-content .recent-posts-posts .post .post-calendar .post-calendar-date {
              font-family: Montserrat, sans-serif;
              color: #ffffff;
              font-size: 24px;
              font-weight: 300;
              line-height: 20px;
              background-color: #363636;
              border-top-left-radius: 3px;
              border-top-right-radius: 3px; }
              main .recent-posts .recent-posts-content .recent-posts-posts .post .post-calendar .post-calendar-date span {
                line-height: 35px; }
            main .recent-posts .recent-posts-content .recent-posts-posts .post .post-calendar .post-calendar-month {
              font-family: Roboto, sans-serif;
              color: #ffffff;
              font-size: 12px;
              font-weight: 400;
              line-height: 20px;
              text-align: center;
              background-color: #252525;
              border-bottom-left-radius: 3px;
              border-bottom-right-radius: 3px; }
              main .recent-posts .recent-posts-content .recent-posts-posts .post .post-calendar .post-calendar-month span {
                line-height: 25px; }
          main .recent-posts .recent-posts-content .recent-posts-posts .post .post-text {
            padding-left: 28px; }
            main .recent-posts .recent-posts-content .recent-posts-posts .post .post-text h2 {
              font-family: Raleway, sans-serif;
              color: #555555;
              font-size: 20px;
              font-weight: 500;
              margin-top: 22px; }
            main .recent-posts .recent-posts-content .recent-posts-posts .post .post-text p {
              font-family: Montserrat, sans-serif;
              color: #8c8c8c;
              font-size: 14px;
              font-weight: 400;
              line-height: 22px;
              margin-bottom: 24px; }
            main .recent-posts .recent-posts-content .recent-posts-posts .post .post-text a {
              font-family: Montserrat, sans-serif;
              color: #c7b299;
              font-size: 14px;
              font-weight: 400;
              line-height: 20px; }
              main .recent-posts .recent-posts-content .recent-posts-posts .post .post-text a i {
                margin-left: 10px; }
          main .recent-posts .recent-posts-content .recent-posts-posts .post:hover {
            cursor: default; }
            main .recent-posts .recent-posts-content .recent-posts-posts .post:hover img {
              filter: brightness(50%); }
            main .recent-posts .recent-posts-content .recent-posts-posts .post:hover .post-calendar-date {
              background-color: #c7b299; }
            main .recent-posts .recent-posts-content .recent-posts-posts .post:hover .post-calendar-month {
              background-color: #a48d72; }
            main .recent-posts .recent-posts-content .recent-posts-posts .post:hover .post-text {
              background: #362f2d; }
              main .recent-posts .recent-posts-content .recent-posts-posts .post:hover .post-text h2 {
                color: #c7b299; }
              main .recent-posts .recent-posts-content .recent-posts-posts .post:hover .post-text p {
                color: #fff; }
      main .recent-posts .recent-posts-content .recent-post-arrows {
        text-align: center;
        margin-top: 40px; }
        main .recent-posts .recent-posts-content .recent-post-arrows .recent-arrow {
          display: inline-block;
          margin: 0 6px; }
          main .recent-posts .recent-posts-content .recent-post-arrows .recent-arrow a {
            display: block; }
            main .recent-posts .recent-posts-content .recent-post-arrows .recent-arrow a svg {
              fill: #d1d1d1; }
            main .recent-posts .recent-posts-content .recent-post-arrows .recent-arrow a:hover svg {
              fill: #c7b299; }
  main .sponsors {
    height: 489px;
    background: url("../img/sponsor-back.jpg") no-repeat;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    position: relative;
    z-index: 1; }
    main .sponsors .sponsors-back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 489px;
      background: rgba(0, 0, 0, 0.5);
      z-index: -1; }
    main .sponsors .sponsors-content {
      grid-column-start: 2;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: center;
      grid-column-gap: 80px; }
  main .about {
    display: grid;
    height: 508px;
    grid-template-columns: 2fr 8fr 2fr;
    background: #191919;
    overflow: hidden; }
    main .about .about-content {
      grid-column-start: 2;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 30px;
      padding-top: 40px; }
      main .about .about-content .logo {
        overflow: hidden;
        margin-bottom: 20px; }
        main .about .about-content .logo a {
          float: left; }
        main .about .about-content .logo span {
          float: left;
          font-family: Raleway, sans-serif;
          color: #ffffff;
          font-size: 34px;
          font-weight: 400;
          line-height: 60px;
          margin-left: 10px; }
      main .about .about-content hr {
        border-color: #252525; }
      main .about .about-content h1 {
        font-family: Raleway, sans-serif;
        color: #ffffff;
        font-size: 24px;
        font-weight: 700;
        text-align: left; }
      main .about .about-content h4 {
        font-family: Montserrat, sans-serif;
        color: #363636;
        font-size: 12px;
        font-weight: 300;
        line-height: 20px; }
      main .about .about-content p {
        font-family: Montserrat, sans-serif;
        color: #545454;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px; }
      main .about .about-content .about-block1 p {
        margin: 30px 0;
        width: 265px; }
      main .about .about-content .about-block1 a {
        font-family: Montserrat, sans-serif;
        color: #d1d1d1;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left; }
        main .about .about-content .about-block1 a i {
          margin-left: 10px; }
      main .about .about-content .about-block2-content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr; }
        main .about .about-content .about-block2-content .recent-post:hover {
          cursor: default; }
          main .about .about-content .about-block2-content .recent-post:hover h4 {
            color: #ffffff; }
          main .about .about-content .about-block2-content .recent-post:hover p {
            color: #c7b299; }
      main .about .about-content .about-block3-content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr; }
        main .about .about-content .about-block3-content mark {
          color: #00bff3;
          background: none; }
        main .about .about-content .about-block3-content .lighten {
          color: #959595; }
      main .about .about-content .about-block4-content {
        display: grid;
        grid-template-columns: 130px 130px;
        grid-template-rows: 98px;
        grid-gap: 10px; }

footer {
  width: 100%;
  height: 111px;
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  background-color: #111111;
  align-items: center; }
  footer .footer-content {
    grid-column-start: 2;
    display: grid;
    grid-auto-flow: column;
    align-items: center; }
    footer .footer-content li {
      display: inline-block;
      margin: 0 10px; }
    footer .footer-content span,
    footer .footer-content li,
    footer .footer-content a {
      font-family: Montserrat, sans-serif;
      color: #545454;
      font-size: 13px;
      font-weight: 300;
      line-height: 20px;
      text-align: left; }
    footer .footer-content a:hover {
      color: #c7b299; }
    footer .footer-content mark {
      color: #959595;
      background: none; }
    footer .footer-content .footer-left {
      justify-self: start; }
    footer .footer-content .footer-right {
      justify-self: end; }

/*# sourceMappingURL=style.css.map */
