@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Raleway:400,500,600,700,800|Roboto');
$padding-content: 10%;
.transform-zoom:hover {
  transform: scale(1.1);
  z-index: 99;
}
a {
  text-decoration: none;
}
button:hover {
  cursor: pointer;
}
body {
  margin: 0;
  width: 100%;
}
.container {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-areas: "header" "main" "footer";
}
header {
  background: url("../img/slide.png") no-repeat;
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 10fr 1fr;

  nav {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 4fr 8fr;
    align-items: center;
    padding: 0 $padding-content;

    .logo {
      a {
        float: left;
      }

      span {
        float: left;
        font-family: Raleway, sans-serif;
        color: #ffffff;
        font-size: 34px;
        font-weight: 400;
        line-height: 60px;
        margin-left: 10px;
      }
    }

    .menu {
      justify-self: end;
      padding: 0;

      li {
        display: inline-block;
        margin: 0 10px;
      }

      li:nth-child(9) {
        margin-left: 40px;
      }

      a {
        display: block;
        color: #fff;
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
      }

      a:hover {
        color:  #c7b29a;
      }

      .icon-cart {
        background: url("../img/icon-cart.png") no-repeat;
        width: 18px;
        height: 24px;
      }

      .icon-search {
        background: url("../img/icon-search.png") no-repeat;
        width: 24px;
        height: 24px;
      }
    }
  }

  .header-content {
    display: grid;
    font-family: Raleway, sans-serif;
    color: #ffffff;
    text-align: center;
    grid-auto-flow: column;
    align-items: center;

    .header-content-center {
      h2 {
        font-size: 36px;
        font-weight: 500;
        margin: 0 0 10px;
      }

      h1 {
        font-size: 52px;
        font-weight: 700;
        margin: 0 0 20px;
      }

      span {
        font-family: Montserrat, sans-serif;
        font-size: 15px;
        font-weight: 300;
        line-height: 24px;
        width: 568px;
        height: 52px;
        display: block;
        margin: 0 auto;
      }

      button {
        border-radius: 3px;
        background-color: #998675;
        color: #ffffff;
        width: 170px;
        height: 53px;
        font-size: 14px;
        font-weight: 700;
        line-height: 23px;
        margin: 30px 0 40px 0;
      }
    }
  }

  .header-points {
    align-self: center;
    justify-self: center;

    .header-points-list {
      padding: 0;

      li {
        display: inline-block;
      }

      .point-active {
        display: block;
        background: url("../img/point-active.png");
        width: 15px;
        height: 15px;
      }

      .point-unactive {
        display: block;
        background: url("../img/point-unactive.png");
        width: 11px;
        height: 11px;
      }
    }
  }


}

main {
  width: 100%;

  .opportunities {
    height: 373px;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    overflow: hidden;

    .opportunities-content {
      grid-column-start: 2;
      grid-column-end: 3;
      display: grid;
      grid-auto-flow: column;
      align-items: end;
      grid-template-columns: 1fr 1fr 1fr 1fr;



      div {
        display: inline-block;
        text-align: center;
        margin-bottom: calc(50% - 70px);

        svg {
          fill: #555555;
          transition: 500ms;
        }

        h2 {
          transition: 500ms;
        }

        & > div {
          display: block;
        }

        .underlining {
          transition: 500ms;
        }

        &:hover {
          cursor: default;

          svg {
            fill: #c7b299;
          }

          h2 {
            color: #c7b299;
          }
          .underlining {
            background-color:  #c7b299;
          }
        }
      }

      h2 {
        font-family: Raleway, sans-serif;
        color:  #555555;
        font-size: 22px;
        font-weight: 600;
        text-align: center;
      }

      p {
        font-family: Montserrat, sans-serif;
        color:  #8c8c8c;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
        padding: 0 10px;
      }

      .underlining {
        background-color: #f1eee9;
        width: 70px;
        height: 3px;
        margin: 25px auto 0;
      }
    }
  }

  .real-ideas {
    height: 100vh;
    background: #fbfaf8;
    display: grid;
    grid-template-rows: 4fr 1fr;
    overflow: hidden;

    .real-ideas-main {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 2fr 8fr 2fr;
    }

    .real-ideas-content {
      grid-column-start: 2;
      display: grid;
      grid-template-rows: 2fr 5fr;

      .real-ideas-block-text {
        align-self: center;
        h1 {
          font-family: Raleway, sans-serif;
          color:  #555555;
          font-size: 30px;
          font-weight: 600;
          text-align: center;
        }

        p {
          font-family: Montserrat, sans-serif;
          color:  #8c8c8c;
          font-size: 16px;
          font-weight: 300;
          line-height: 28px;
          text-align: center;
          margin: 0 210px;
        }
      }

      .real-ideas-block-browser {
        position: relative;

        img {
          position: absolute;
        }

        .browser-left {
          position: absolute;
          left: calc(30% - 385px);
          bottom: 0;
        }

        .browser-center {
          z-index: 10;
          left: calc(50% - 385px);
          bottom: 0;
        }

        .browser-right {
          right: calc(30% - 358px);
          bottom: 0;
        }
      }
    }

    .real-ideas-bottom {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 2fr 8fr 2fr;
      background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
      background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
      background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
      background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
      background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);

      .real-ideas-bottom-grid {
        grid-column-start: 2;
        position: relative;
      }

      .real-ideas-bottom-text {
        float: left;
        position: relative;
        top: calc(50% - 60px);

        h1 {
          font-family: Raleway, sans-serif;
          color:  #ffffff;
          font-size: 28px;
          font-weight: 400;

          mark {
            color:  #c7b299;
            background: none;
          }
        }

        p {
          font-family: Montserrat, sans-serif;
          color:  #615855;
          font-size: 18px;
          font-weight: 300;
        }

      }

      .real-ideas-bottom-button {
        border-radius: 3px;
        background-color:  #998675;
        width: 170px;
        height: 50px;
        font-family: Raleway, sans-serif;
        color:  #ffffff;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        float: right;
        position: relative;
        top: calc(50% - 25px);
      }
    }

  }

  .last-products {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 2fr 8fr 2fr;
    overflow: hidden;

    .last-products-top {
      grid-column-start: 2;
      align-self: center;

      h1 {
        font-family: Raleway, sans-serif;
        color:  #555555;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
      }

      p {
        font-family: Montserrat, sans-serif;
        color: #8c8c8c;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        text-align: center;
        width: 757px;
        margin: 0 auto;
      }
    }

    .last-products-main {
      grid-column-start: 2;
      display: grid;
      grid-template-rows: 2fr 14fr;

      .last-product-nav {
        align-self: center;

        .browser-nav {
          margin: 0;
          padding: 0;
          text-align: center;

          li {
            display: inline-block;

            &:hover {
              a {
                color:  #ffffff;
                border-radius: 3px;
                background-color:  #998675;
              }
            }
          }

          a{
            font-family: Montserrat, sans-serif;
            color:  #8c8c8c;
            font-size: 14px;
            font-weight: 300;
            line-height: 21px;
            padding: 5px 25px;
            box-sizing: border-box;
            border: 1px solid #ebebeb;
            border-radius: 3px;
            display: block;
            background-color:  rgba(17, 17, 17, 0);
          }
        }
      }

      .last-product-grid {
        display: grid;
        grid-template-columns: 270px 270px 270px;
        grid-template-rows: 250px 250px;
        grid-gap: 30px;
        margin: 0 auto;

        .grid-block {
          display: grid;
          grid-template-rows: 3fr 2fr;
          position: relative;

          img {
            width: 270px;
            height: auto;
            transition: 500ms;
          }

          .grid-block-text {
            background-color:  #fbfaf8;
            transition: 500ms;

            h2 {
              font-family: Raleway, sans-serif;
              color: #c7b29a;
              font-size: 20px;
              font-weight: 500;
              margin: 8px 0 4px 8%;
            }

            p {
              font-family: Montserrat, sans-serif;
              color: #d1d1d1;
              font-size: 14px;
              font-weight: 300;
              line-height: 20px;
              margin-left: 8%;
              margin-top: 4px;
            }
          }

          .grid-block-hov {
            position: absolute;
            width: 270px;
            height: 172.94px;
            top: 0;
            left: 0;

            .hov-items {
              position: absolute;
              top: calc(50% - 10px);
              padding: 0;
              margin: 0;
              left: calc(50% - 42px);
              list-style-type: none;
              display: none;

              a {
                color: #fff;

                i {
                  font-size: 20px;
                }
              }

              li {
                display: inline-block;
                margin: 0 10px;
              }
            }
          }

          &:hover {
            cursor: default;
            img {
              filter: brightness(50%);
            }
            .grid-block-text {
              background-color:  #362f2d;

              h2 {
                color: #ffffff;
              }
              
              p {
                color: #c7b299;;
              }
            }

            .hov-items {
              display: inline;
              a:hover {
                color: #c7b299;
              }
            }
          }
        }
      }
    }

    .last-products-bottom {
      grid-column-start: 2;
      align-self: center;
      justify-self: center;

      .last-products-button {
        border-radius: 3px;
        background-color:  #998675;
        width: 170px;
        height: 50px;
        font-family: Raleway, sans-serif;
        color:  #ffffff;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
      }
    }
  }

  .video-pres {
    height: 705px;
    background: url("../img/video.jpg") no-repeat;
    margin-top: 50px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;

    .video-back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 705px;
      background: rgba(0, 0, 0, .5);
      z-index: -1;
    }

    .video-pres-content {
      grid-column-start: 2;
      align-self: center;

      .button-play {
        border-radius: 50%;
        background-color:  rgba(0, 0, 0, 0.2);
        width: 100px;
        height: 100px;
        margin: 0 auto;
        position: relative;

        svg {
          position: absolute;
          top: calc(50% - 35px);
          left: calc(50% - 35px);
          fill: #ffffff;
        }

        &:hover {
          cursor: pointer;

          svg {
            filter: brightness(60%);
          }
        }
      }

      .video-text {
        h1 {
          font-family: Raleway, sans-serif;
          color: #ffffff;
          font-size: 30px;
          font-weight: 500;
          text-align: center;
          margin: 40px 0 20px;
        }

        h4 {
          font-family: Montserrat, sans-serif;
          color: #ffffff;
          font-size: 16px;
          font-weight: 300;
          line-height: 28px;
          text-align: center;
          margin: 0 auto;
          width: 570px;
        }

        p {
          font-family: Montserrat, sans-serif;
          color:  #c7b299;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          text-align: center;
          margin-top: 30px;
        }
      }
    }
  }

  .mobile-dev {
    height: 695px;
    background-color:  #fbfaf8;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;

    .mobile-dev-content {
      grid-column-start: 2;
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-column-gap: 20px;

      img {
        align-self: end;
      }

      .mobile-dev-text {
        align-self: center;

        h1 {
          font-family: Raleway, sans-serif;
          color:  #555555;
          font-size: 30px;
          font-weight: 600;
          text-align: left;
        }

        p {
          font-family: Montserrat, sans-serif;
          color:  #8c8c8c;
          font-size: 16px;
          font-weight: 300;
          line-height: 28px;
          text-align: left;
          width: 670px;
        }

        .mob-options {
          list-style: none;
          margin-top: 30px;
          padding-left: 52px;

          li {
            background: url(../img/icon-li.png) no-repeat left 5px;
            padding-left: 50px;
            font-family: Montserrat, sans-serif;
            color: #8c8c8c;
            font-size: 16px;
            font-weight: 300;
            line-height: 32px;
          }
        }
      }
    }
  }

  .score {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    height: 300px;

    .score-content {
      grid-column-start: 2;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      align-items: center;

      div {
        text-align: center;
      }

      svg {
        fill: #c7b299;
      }

      h1 {
        font-family: Montserrat, sans-serif;
        color:  #ffffff;
        font-size: 48px;
        font-weight: 200;
        line-height: 36px;
        text-align: center;
        margin: 30px 0 10px;
      }

      p {
        font-family: Montserrat, sans-serif;
        color:  #c7b299;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        text-align: center;
        margin: 10px 0 30px;
      }

      .score-underline {
        background-color:  #ffffff;
        width: 30px;
        height: 2px;
        margin: 0 auto;
      }
    }
  }

  .recent-posts {
    height: 753px;
    background: #fff;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;

    .recent-posts-content {
      grid-column-start: 2;

      .recent-posts-header{
        h1 {
          font-family: Raleway, sans-serif;
          color:  #555555;
          font-size: 30px;
          font-weight: 600;
          text-align: center;
          margin-top: 70px;
        }

        p {
          font-family: Montserrat, sans-serif;
          color: #8c8c8c;
          font-size: 16px;
          font-weight: 300;
          line-height: 28px;
          width: 780px;
          margin: 0 auto 30px;
          text-align: center;
        }
      }

      .recent-posts-posts {
        display: grid;
        grid-template-columns: 370px 370px 370px;
        grid-template-rows: 400px;
        grid-column-gap: 50px;

        .post {
          display: grid;
          grid-template-rows: 220px 180px;
          border: 1px solid #f8f8f8;
          position: relative;

          .post-calendar {
            position: absolute;
            display: grid;
            grid-template-rows: 35px 25px;
            width: 50px;
            height: 60px;
            text-align: center;
            z-index: 10;
            left: 20px;
            top: 20px;

            .post-calendar-date {
              font-family: Montserrat, sans-serif;
              color: #ffffff;
              font-size: 24px;
              font-weight: 300;
              line-height: 20px;
              background-color:  #363636;
              border-top-left-radius: 3px;
              border-top-right-radius: 3px;

              span {
                line-height: 35px;
              }
            }

            .post-calendar-month {
              font-family: Roboto, sans-serif;
              color:  #ffffff;
              font-size: 12px;
              font-weight: 400;
              line-height: 20px;
              text-align: center;
              background-color:  #252525;
              border-bottom-left-radius: 3px;
              border-bottom-right-radius: 3px;

              span {
                line-height: 25px;
              }
            }
          }

          .post-text {
            padding-left: 28px;
            h2 {
              font-family: Raleway, sans-serif;
              color: #555555;
              font-size: 20px;
              font-weight: 500;
              margin-top: 22px;
            }

            p {
              font-family: Montserrat, sans-serif;
              color:  #8c8c8c;
              font-size: 14px;
              font-weight: 400;
              line-height: 22px;
              margin-bottom: 24px;
            }

            a {
              font-family: Montserrat, sans-serif;
              color:  #c7b299;
              font-size: 14px;
              font-weight: 400;
              line-height: 20px;

              i {
                margin-left: 10px;
              }
            }
          }

          &:hover {
            cursor: default;

            img {
              filter: brightness(50%);
            }

            .post-calendar-date {
              background-color:  #c7b299;
            }

            .post-calendar-month {
              background-color:  #a48d72;
            }

            .post-text {
              background: #362f2d;
              h2 {
                color:  #c7b299;
              }

              p {
                color: #fff;
              }
            }
          }
        }
      }

      .recent-post-arrows {
        text-align: center;
        margin-top: 40px;

        .recent-arrow {
          display: inline-block;
          margin: 0 6px;

          a {
            display: block;

            svg {
              fill: #d1d1d1;
            }

            &:hover {
              svg {
                fill: #c7b299;
              }
            }
          }
        }
      }
    }
  }

  .sponsors {
    height: 489px;
    background: url("../img/sponsor-back.jpg") no-repeat;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    position: relative;
    z-index: 1;

    .sponsors-back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 489px;
      background: rgba(0, 0, 0, .5);
      z-index: -1;
    }

    .sponsors-content {
      grid-column-start: 2;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: center;
      grid-column-gap: 80px;
    }
  }

  .about {
    display: grid;
    height: 508px;
    grid-template-columns: 2fr 8fr 2fr;
    background: #191919;
    overflow: hidden;

    .about-content {
      grid-column-start: 2;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 30px;
      padding-top: 40px;

      .logo {
        overflow: hidden;
        margin-bottom: 20px;

        a {
          float: left;
        }

        span {
          float: left;
          font-family: Raleway, sans-serif;
          color: #ffffff;
          font-size: 34px;
          font-weight: 400;
          line-height: 60px;
          margin-left: 10px;
        }
      }

      hr {
        border-color: #252525;
      }

      h1 {
        font-family: Raleway, sans-serif;
        color: #ffffff;
        font-size: 24px;
        font-weight: 700;
        text-align: left;
      }

      h4 {
        font-family: Montserrat, sans-serif;
        color: #363636;
        font-size: 12px;
        font-weight: 300;
        line-height: 20px;
      }

      p {
        font-family: Montserrat, sans-serif;
        color: #545454;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
      }

      .about-block1 {
        p {
          margin: 30px 0;
          width: 265px;
        }

        a {
          font-family: Montserrat, sans-serif;
          color: #d1d1d1;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          text-align: left;

          i {
            margin-left: 10px;
          }
        }
      }

      .about-block2-content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;

        .recent-post:hover {
          cursor: default;
          h4 {
            color:  #ffffff;
          }
          p {
            color:  #c7b299;
          }
        }
      }
      .about-block3-content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;

        mark {
          color:  #00bff3;
          background: none;
        }

        .lighten {
          color: #959595;
        }

      }

      .about-block4-content {
        display: grid;
        grid-template-columns: 130px 130px;
        grid-template-rows: 98px;
        grid-gap: 10px;
      }
    }
  }
}

footer {
  width: 100%;
  height: 111px;
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  background-color:  #111111;
  align-items: center;

  .footer-content {
    grid-column-start: 2;
    display: grid;
    grid-auto-flow: column;
    align-items: center;

    li {
      display: inline-block;
      margin: 0 10px;
    }

    span,
    li,
    a {
      font-family: Montserrat, sans-serif;
      color:  #545454;
      font-size: 13px;
      font-weight: 300;
      line-height: 20px;
      text-align: left;
    }

    a:hover {
      color:  #c7b299;
    }

    mark {
      color:  #959595;
      background: none;
    }

    .footer-left {
      justify-self: start;
    }

    .footer-right {
      justify-self: end;
    }

  }
}