@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Raleway:400,500,600,700,800');
$padding-content: 10%;
a {
  text-decoration: none;
}
button:hover {
  cursor: pointer;
}
body {
  margin: 0;
  width: 100%;
}
.container {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-areas: "header" "main" "footer";
}
header {
  background: url("../img/slide.png") no-repeat;
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 10fr 1fr;

  nav {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 4fr 8fr;
    align-items: center;
    padding: 0 $padding-content;

    .logo {
      a {
        float: left;
      }

      span {
        float: left;
        font-family: Raleway, sans-serif;
        color: #ffffff;
        font-size: 34px;
        font-weight: 400;
        line-height: 60px;
        margin-left: 10px;
      }
    }

    .menu {
      justify-self: end;
      padding: 0;

      li {
        display: inline-block;
        margin: 0 10px;
      }

      li:nth-child(9) {
        margin-left: 40px;
      }

      a {
        display: block;
        color: #fff;
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
      }

      a:hover {
        color:  #c7b29a;
      }

      .icon-cart {
        background: url("../img/icon-cart.png") no-repeat;
        width: 18px;
        height: 24px;
      }

      .icon-search {
        background: url("../img/icon-search.png") no-repeat;
        width: 24px;
        height: 24px;
      }
    }
  }

  .header-content {
    display: grid;
    font-family: Raleway, sans-serif;
    color: #ffffff;
    text-align: center;
    grid-auto-flow: column;
    align-items: center;

    .header-content-center {
      h2 {
        font-size: 36px;
        font-weight: 500;
        margin: 0 0 10px;
      }

      h1 {
        font-size: 52px;
        font-weight: 700;
        margin: 0 0 20px;
      }

      span {
        font-family: Montserrat, sans-serif;
        font-size: 15px;
        font-weight: 300;
        line-height: 24px;
        width: 568px;
        height: 52px;
        display: block;
        margin: 0 auto;
      }

      button {
        border-radius: 3px;
        background-color: #998675;
        color: #ffffff;
        width: 170px;
        height: 53px;
        font-size: 14px;
        font-weight: 700;
        line-height: 23px;
        margin: 30px 0 40px 0;
      }
    }
  }

  .header-points {
    align-self: center;
    justify-self: center;

    .header-points-list {
      padding: 0;

      li {
        display: inline-block;
      }

      .point-active {
        display: block;
        background: url("../img/point-active.png");
        width: 15px;
        height: 15px;
      }

      .point-unactive {
        display: block;
        background: url("../img/point-unactive.png");
        width: 11px;
        height: 11px;
      }
    }
  }


}

main {
  width: 100%;

  .opportunities {
    height: 30vh;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;

    .opportunities-content {
      grid-column-start: 2;
      grid-column-end: 3;
      display: grid;
      grid-auto-flow: column;
      align-items: end;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      div {
        display: inline-block;
        text-align: center;
        margin-bottom: 100px;

        & > div {
          display: block;
        }

        &:hover {
          h2 {
            color: #c7b299;
          }
          .underlining {
            background-color:  #c7b299;
          }
        }
      }

      h2 {
        font-family: Raleway, sans-serif;
        color:  #555555;
        font-size: 22px;
        font-weight: 600;
        text-align: center;
      }

      p {
        font-family: Montserrat, sans-serif;
        color:  #8c8c8c;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
        padding: 0 10px;
      }

      .underlining {
        background-color: #f1eee9;
        width: 70px;
        height: 3px;
        margin: 25px auto 0;
      }
    }
  }

  .real-ideas {
    height: 70vh;
    background: #fbfaf8;
    display: grid;
    grid-template-rows: 4fr 1fr;

    .real-ideas-main {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 2fr 8fr 2fr;
    }

    .real-ideas-content {
      grid-column-start: 2;
      display: grid;
      grid-template-rows: 2fr 5fr;

      .real-ideas-block-text {
        align-self: center;
        h1 {
          font-family: Raleway, sans-serif;
          color:  #555555;
          font-size: 30px;
          font-weight: 600;
          text-align: center;
        }

        p {
          font-family: Montserrat, sans-serif;
          color:  #8c8c8c;
          font-size: 16px;
          font-weight: 300;
          line-height: 28px;
          text-align: center;
          margin: 0 210px;
        }
      }

      .real-ideas-block-browser {
        position: relative;

        img {
          position: absolute;
        }

        .browser-left {
          position: absolute;
          left: calc(30% - 385px);
          bottom: 0;
        }

        .browser-center {
          z-index: 10;
          left: calc(50% - 385px);
          bottom: 0;
        }

        .browser-right {
          right: calc(30% - 358px);
          bottom: 0;
        }
      }
    }

    .real-ideas-bottom {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 2fr 8fr 2fr;
      background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
      background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
      background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
      background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
      background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);

      .real-ideas-bottom-grid {
        grid-column-start: 2;
        position: relative;
      }

      .real-ideas-bottom-text {
        float: left;
        position: relative;
        top: calc(50% - 60px);

        h1 {
          font-family: Raleway, sans-serif;
          color:  #ffffff;
          font-size: 28px;
          font-weight: 400;

          mark {
            color:  #c7b299;
            background: none;
          }
        }

        p {
          font-family: Montserrat, sans-serif;
          color:  #615855;
          font-size: 18px;
          font-weight: 300;
        }

      }

      .real-ideas-bottom-button {
        border-radius: 3px;
        background-color:  #998675;
        width: 170px;
        height: 50px;
        font-family: Raleway, sans-serif;
        color:  #ffffff;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        float: right;
        position: relative;
        top: calc(50% - 25px);
      }
    }

  }

  .last-products {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 2fr 8fr 2fr;

    .last-products-top {
      grid-column-start: 2;
      align-self: center;

      h1 {
        font-family: Raleway, sans-serif;
        color:  #555555;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
      }

      p {
        font-family: Montserrat, sans-serif;
        color:  #8c8c8c;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        text-align: center;
        margin: 0 28%;
      }
    }

    .last-products-main {
      grid-column-start: 2;
      display: grid;
      grid-template-rows: 2fr 16fr;

      .last-product-nav {

        .browser-nav {

          li {
            display: inline-block;

            &:hover {
              a {
                color:  #ffffff;
                border-radius: 3px;
                background-color:  #998675;
              }
            }
          }

          a{
            font-family: Montserrat, sans-serif;
            color:  #8c8c8c;
            font-size: 14px;
            font-weight: 300;
            line-height: 21px;
            padding: 10px;
            outline: 1px solid black;
            border-radius: 3px;
            display: block;
          }
        }
      }

      .last-product-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 470px 470px;
        grid-gap: 30px;

        .grid-block {
          display: grid;
          grid-template-rows: 3fr 2fr;

          img {
            width: 100%;
          }

          .grid-block-text {
            background-color:  #fbfaf8;

            h2 {
              font-family: Raleway, sans-serif;
              color: #c7b29a;
              font-size: 20px;
              margin-left: 10%;
              font-weight: 500;
            }

            p {
              font-family: Montserrat, sans-serif;
              color: #d1d1d1;
              font-size: 14px;
              font-weight: 300;
              line-height: 20px;
              margin-left: 10%;
            }
          }

          &:hover {
            img {
              filter: brightness(50%);
            }
            .grid-block-text {
              background-color:  #362f2d;
            }
          }
        }
      }
    }

    .last-products-bottom {
      grid-column-start: 2;
      align-self: center;
      justify-self: center;

      .last-products-button {
        border-radius: 3px;
        background-color:  #998675;
        width: 170px;
        height: 50px;
        font-family: Raleway, sans-serif;
        color:  #ffffff;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
      }
    }
  }
}

footer {
  width: 100%;
}